<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand">
      <a class="header-title" href={% url "items" %}>
        価格追跡アプリ
      </a>
    </span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <div class="image_circle"></div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>ログイン中のユーザ</li>
            <li>{{userEmail}}</li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href={% url 'logout' %}>ログアウト</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
