{% extends 'templates/base.html' %}
{% load static %}

{% block title %}価格追跡アプリ{% endblock %}

{% block style %}
<link
  rel="stylesheet"
  href="{% static '/css/bootstrap/bootstrap.min.css' %}"
/>
<link rel="stylesheet" href="{% static '/css/header.css' %}" />
<link rel="stylesheet" href="{% static '/css/index.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
{% endblock %}

{% block content %}

{% include 'templates/layouts/header.html' %}

<div class="main-container">
  <div class="row title-row">
    <div class="col-6">
      <h1>商品一覧</h1>
    </div>
    <div class="col-6 text-end">
      <a href={% url 'items_regist' %}>
      <button type="button" class="btn btn-primary add-button">
          新規登録
        </button>
      </a>
    </div>
  </div>

  <hr class="mt-4" />
  <div class="table-section">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr class="item-table-header-row">
            <th scope="col">商品名</th>
            <th scope="col">画像</th>
            <th scope="col">現在の価格</th>
            <th scope="col">希望価格</th>
            <th scope="col">変動値</th>
            <th scope="col">URL</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr class="item-table-row">
            <th scope="row">{{item.name}}</th>
            <td style="width: 10%"><img class="item-image" src="/{{item.image}}"/></td>
            <td>{{item.now_price}}円</td>
            <td>{{item.hope_price}}円</td>
            <td>{{item.fluctuating_value}}円</td>
            <td><a class="item-url-link" href="{{item.url}}">Amazonページ <i class="bi bi-box-arrow-up-right"></i></a></td>
            <td>
                <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#itemDeleteModal" onClick="sendValueToModal({{item.id}})">削除</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="itemDeleteModal" tabindex="-1" aria-labelledby="itemDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemDeleteModalLabel">最終確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        この商品情報を一覧から削除しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <form action={% url 'items_delete' %} method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger" id="modal-delete-item"  name="delete-item-id">削除</button>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock%} 

{% block script %}
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/index.js' %}"></script>
{% endblock %}
